<footer>
    <div class="container">
        <div class="row">
            <div class="col-sm-2 offset-sm-1">
                <h5>Links</h5>
                <ul class="nav flex-column">
                    <li class="nav-item" routerLinkActive="active"><a [routerLink]="['home']">Home</a></li>
                    <li class="nav-item" routerLinkActive="active"><a [routerLink]="['about']">About</a></li>
                    <li class="nav-item" routerLinkActive="active"><a [routerLink]="['menu']">Menu</a></li>
                    <li class="nav-item" routerLinkActive="active"><a [routerLink]="['contact']">Contact</a></li>
                </ul>
            </div>
            <div class="col-sm-5">
                <h5>Our Address</h5>
                <address>
                    214, King Street West<br>
                    Downtown, Toronto<br>
                    ONTARIO<br>
                    <i class="fa fa-phone" aria-hidden="true" title="Telephone"></i>: +416 1234 5678<br>
                    <i class="fa fa-fax" aria-hidden="true" title="Fax"></i>: +416 8765 4321<br>
                    <i class="fa fa-envelope" aria-hidden="true" title="Email"></i>: <a href="mailto:ilfornello@food.net">ilfornello@food.net</a>
                </address>
            </div>
            <div class="col-sm-4">
                <nav class="nav social">
                    <a class="btn google-plus" role="button" href="https://google.com/+" title="Google+" target="_blank"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                    <a class="btn facebook" role="button" href="https://www.facebook.com/profile.php?id=" title="Facebook" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    <a class="btn linkedin" href="https://www.linkedin.com/in/" title="LinkedIn" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                    <a class="btn twitter" href="https://twitter.com/" title="Twitter" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                    <a class="btn youtube" href="https://youtube.com/" title="YouTube" target="_blank"><i class="fa fa-youtube" aria-hidden="true"></i></a>
                    <a class="btn email" href="mailto:" title="Email" target="_blank"><i class="fa fa-envelope-o" aria-hidden="true"></i></a>
                </nav>
            </div>
        </div>
        <div class="text-center">
            &copy; Copyright 2015 Ristorante Il Fornello
        </div>
    </div>
</footer>
